@use '../../root';

.header{
    background:root.color(c1);
    border-bottom: solid 1px root.color(c4);
    // border-radius: 15px;
    // margin-right:20px;
    // width:clamp(300px, 15%, 500px);
    // make sticky
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left:0px;
    z-index: 100;
    width:100%;
    height: root.height(header);
    display: flex;
    // align-self: flex-start;
    justify-content: space-between;

    .header__logo {
        width: 180px;
        margin-left:15px;
        // aspect-ratio: 1/1;
        // margin:20px auto;
        // text-align: center;
        display: flex;
        // justify-content: center;
        align-items: center;
        height: 100%;
        // background: root.color(primary-bg);
        // border-radius: 15px;
        // border-bottom: solid 1px root.color(primary-bg);
        // border-top: solid 1px root.color(primary-bg);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            
        }
    }

    .header__profile{
        width:400px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        float:right;
        // background-color: pink;

        .icon{
            height:80%;
            // aspect-ratio: 1/1;
            border-radius: 50%;
            margin-right: 20px;
        }
        // align-self: ;
    }
}