@use "../../root";

.login{
    // background:root.color(primary-bg);
    // background gradient from 36, 110, 185 to 0, 91, 206
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top: 50px;

    .login_card{
        width: clamp(300px, 50%, 500px);
        height: 400px;
        text-align: center;
        // frosted glass
        background: rgb(255, 255, 255);
    
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        display: flex;
        flex-direction: column;

        .login_sign_switch{
            width:100%;
            height: 50px;
            // borde radius top
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display:flex;
            justify-content: space-between;
            // overflow: hidden;
            flex-wrap: wrap;


            .login_sign_switch_signin, .login_sign_switch_signup{
                width:50%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;
                cursor:pointer;
                margin-bottom: -20px;
 
            }

            &:first-child{
                border-top-left-radius: 10px;
                // border-right:solid 1px #949393;

            }

            &:last-child{
                border-top-right-radius: 10px;
            }

            .login_sign_line{
                width:20%;
                transform: translate(75%);
                height: 2px;
                background: root.color(primary-bg);

                &.active {
                    transform: translateX(325%);
                }

                transition: transform 0.5s;

                
            }
        }
        overflow: hidden;


        .login_sign {
            margin-top: 20px;
            position: relative;
            width:200%;
            display:flex;
            transition: transform 0.5s;
            overflow: hidden;
            > * {
                width: 50%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }

            &.active {
                transform: translateX(-50%);
            }

            .login__signInButton{
                width: 80%;
                height: 40px;
                border-radius: 5px;
                border: none;
                outline: none;
                padding: 0 10px;
                font-size: 1.2rem;
                background: root.color(primary-bg);
                color: #fff;
                cursor: pointer;
                transition:  0.5s;
                &:hover{
                    background: root.color(secondary-bg);
                }

            }

            .google_sign_in{
                width: 200px;
                height: 40px;
                border-radius: 5px;
                border: none;
                outline: none;
                padding: 0 10px;
                font-size: 1.2rem;
                color: #000;
                cursor: pointer;
                transition:  0.5s;

                align-self: flex-start;
                margin-left: 10%;
                background:url(https://developers.google.com/static/identity/images/btn_google_signin_dark_normal_web.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;

                
            }

            .login_sign_forgot{
                height: 40px;
                border-radius: 5px;
                border: none;
                outline: none;
                padding: 0 10px;
                font-size: .8rem;
                color: #000;
                cursor: pointer;
                transition:  0.5s;
                margin-right: 10%;
                margin-top:10px;
                float:right;
                align-self: flex-end;
                background: transparent;
                text-decoration: underline;
                &:hover{
                    background: transparent;
                }

                
            }

        }
        .login_sign_error{
           
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 15px;
          
            animation-delay: .6s;
            color: red;
            text-align: center;
            font-weight: 600;


        }
        :global{
            form{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // font normal
                font-weight: 400;
                // font size
                font-size: 1.2rem;
                // font color
                color: #000000;
                // font family
                font-family: 'Roboto', sans-serif;
            }
            input {
                width: 80%;
                height: 40px;
                border-radius: 5px;
                border: none;
                outline: none;
                padding: 0 10px;
                margin: 10px 0;
                font-size: 1.2rem;
                background: #f2f2f2;
                transition:  0.5s;
                border: solid 0px #f2f2f2;
                // placeholder font size
                font-size: 16px;
                animation-delay: .6s;

                &:focus{
                    background: #f7f7f7;
                    border: solid 1px #f2f2f2;
                    border-bottom: solid 1px root.color(primary-bg);
                    // add box shadow
                }
                
            }
        }

    }



}